################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/.vs
/TestWebProject/bin/Debug
/TestWebProject/obj
/DevelopedTests/obj/Debug
/DevelopedTests/obj/Release
/DevelopedTests
